/* When we don't set border-color, color of a text is used as a default */
.one {
  color: #6CC644;
  border: medium solid;
}

/* When we don't set border-style, default style <none> will be used - therefor no border will be rendered */
.two {
  border: 1px red;
}

/* Other border style example */
.three {
  border: dotted 2px red;
}
